 <div class="container py-5">
    <div class="card shadow-sm">
      <div class="card-body">
        <h1 class="card-title text-center text-primary">Dashboard de Administrador</h1>
        <p class="text-center fs-5">Hola, <strong>{{user.name}}</strong></p>

        <p class="text-center">En este panel podés realizar un <strong>CRUD completo</strong> de los productos.</p>

        <div class="text-center my-4">
          <a href="/users" class="btn btn-outline-secondary me-2">Ir al perfil</a>
          <a href="/api/sessions/logout" class="btn btn-danger">Cerrar sesión</a>
        </div>
      </div>
    </div>
  </div>

  <script src="/js/admin.js"></script>